@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-slate-50 text-slate-900 dark:bg-slate-950 dark:text-slate-100;
}

.react-flow__node {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  @apply rounded-full bg-slate-300 dark:bg-slate-700;
}

::-webkit-scrollbar-track {
  @apply bg-transparent;
}
